<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Not Found <%= title %></h1>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
    <footer>
        <h3>This page is reserved under <%= footer_note %></h3>
    </footer>
</body>
</html>